* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2px;
    height: calc(100vh - 4px);
}

body > * {
    flex-shrink: 0;
}

.header {
    overflow: hidden;
    height: 15%;;
    width: 100%;
    /* flex-shrink: 0 */
}

.header_img {
    display: block;
    height: 100%;
    width: 100%;
}

.upper_bar {
    background-color: #999999;
    height: 32px;
}

.upper_bar ul {
    display: flex;
    list-style: none;
    justify-content: left;
    height: 100%;
    margin: 0;
    padding-left: 16px;
    gap: 16px;
}

.upper_bar a {
    display: flex;
    height: 100%; 
    padding: 0 5px;
    align-items: center;
    text-decoration: none;
    font-family: Verdana;
    color: white;
}

.upper_bar a:hover {
    background-color: #555;
}

.main_area {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
}

.left_bar, .right_bar {
    padding: 1px;
    background: #eeeeee;
}

.middle {
    display: block;
    overflow: auto;
    /* padding-left: 50px;  */
    background: #ffffff;
}

.post {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 1px;
    margin-inline: 50px;
    gap: 5px;
}

.post_header h2 {
    margin-top: 1px;
    margin-bottom: 10px;
    font-size: 32px;
}

.post_body {
    display: block;
    margin-top: 1px;
    margin-bottom: 1px;
    line-height: 2;
}

/* .post_body p {
    margin: 0.25em 0;
    line-height: 2em;
} */